DB_USER=usuario
DB_PASSWORD=senha
DB_HOST=host
DB_PORTA=porta
DB_NAME=nome_do_banco

DATABASE_URL=postgresql+psycopg2://<usuario>:<senha>@<host>:<porta>/<nome_do_banco>

BASE_PATH=
RAW_DATA_PATH=data/raw
PROCESSED_DATA_PATH=data/processed